.container-block {
  max-width: 1190px;
  padding: 60px 20px 20px;
  margin: auto;
}
.form-group {
  justify-content: center;
}
.task {
  margin: 20px;
}
.button-getData {
  width: 50%;
  display: grid;
  margin: auto;
}
textarea {
  resize: none;
  height: 45vh;
  width: 90%;
  display: flex;
}
.result {
  margin: auto;
  margin-top: 15px;
  text-align: center;
}
.envelope__title, .palindrome__title {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}
.buttons-addReset {
  display: flex;
  justify-content: flex-end;
}
.buttons-addReset > button {
  margin: 15px;
}
.test {
  position: fixed;
  left: 35px;
  top: 10px
}